@import "vars";

body {
    font-size: $font-size;

    &.loading {
        header,
        main,
        footer {
            display: none;
        }

        > .loader {
            display: block;
        }
    }

    > .loader {
        display: none;
    }
}

.header {
    &__slogan {
        text-align: center;
        font-size: 4rem;
        margin: 1rem 0;
    }
}


.comment {
    &__body {

    }

    &__author {

    }

    &__date {

    }

    &__text {

    }
}

.commentModal {
    .has-error {
        .help-text {
            color: #dc3545 !important;
        }
    }
}

.template {
    display: none;
}
