@import "vars";

body {
    font-size: $font-size;
    padding-top: $header-height;

    &.loading {
        header,
        main,
        footer {
            display: none;
        }

        > .loader {
            display: block;
        }
    }

    > .loader {
        display: none;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.slogan {
    text-align: center;
    font-size: 4rem;
    margin: 1rem 0;
}

.slider {
    #sliderContainer {
        display: none;
    }

    .carousel,
    &__thumbs {
        width: 100%;
        margin: 0 10%;
    }

    &__thumbs {
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        > div {
            cursor: pointer;
            margin: .5rem;
            transition: ease-in-out .3s;

            &.active {
                transform: scale(1.2);
            }

            img {
                height: 80px;
            }
        }
    }
}

.slide {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    &:nth-child(12n+1),
    &:nth-child(12n+2),
    &:nth-child(12n+3) {
        > .slide__container {
            grid-template-areas:
                "photo1 photo1 photo4 photo5 photo8 photo8"
                "photo1 photo1 photo4 photo6 photo8 photo8"
                "photo2 photo3 text photo7 photo8 photo8"
                "photo2 photo3 text photo7 photo8 photo8";
        }
    }

    &:nth-child(12n+4),
    &:nth-child(12n+5),
    &:nth-child(12n+6) {
        > .slide__container {
            grid-template-areas:
                "photo1 photo1 text photo5 photo8 photo8"
                "photo1 photo1 text photo5 photo8 photo8"
                "photo2 photo3 photo4 photo6 photo8 photo8"
                "photo2 photo3 photo4 photo7 photo8 photo8";
        }
    }

    &:nth-child(12n+7),
    &:nth-child(12n+8),
    &:nth-child(12n+9) {
        > .slide__container {
            grid-template-areas:
                "photo1 photo1 photo4 text photo8 photo8"
                "photo1 photo1 photo4 text photo8 photo8"
                "photo2 photo3 photo5 photo7 photo8 photo8"
                "photo2 photo3 photo6 photo7 photo8 photo8";
        }
    }

    &:nth-child(12n),
    &:nth-child(12n-1),
    &:nth-child(12n-2) {
        > .slide__container {
            grid-template-areas:
                "photo1 photo1 photo4 photo7 photo8 photo8"
                "photo1 photo1 photo5 photo7 photo8 photo8"
                "photo2 photo3 photo6 text photo8 photo8"
                "photo2 photo3 photo6 text photo8 photo8";
        }
    }

    &__textbox {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        text-transform: uppercase;
    }

    &__photo {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @for $i from 1 through 8 {
            &--#{$i} {
                grid-area: photo#{$i};
            }
        }

        &.zoomed {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
        }

        &-expand {
            color: #FFF;
            position: absolute;
            font-size: 3em;
            font-weight: 100;
            line-height: 1;
            background: transparent;
            border: 0;
            padding: 0;
            width: 3rem;
            transition: ease-in-out .2s;

            &:focus {
                outline: none;
            }

            &:hover {
                transform: scale(1.2);
            }

            &--plus::after {
                content: '+';
            }

            &--minus::after {
                content: '-';
            }

            &--br {
                bottom: 20px;
                right: 20px;
            }

            &--tr {
                top: 20px;
                right: 20px;
            }

            &--tl {
                top: 20px;
                left: 20px;
            }
        }
    }
}

#commentsLoader {
    display: none;
}

.commentModal {
    .has-error {
        .help-text {
            color: #dc3545 !important;
        }
    }

    &__loader {
        opacity: 0;
        transition: opacity ease-in-out .3s;
    }

    .voucher-body {
        display: none;
    }
}

.template {
    display: none;
}
