@import "vars";

body {
    font-size: $font-size;
    padding-top: $header-height;

    &.loading {
        header,
        main,
        footer {
            display: none;
        }

        > .loader {
            display: block;
        }
    }

    > .loader {
        display: none;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.slogan {
    text-align: center;
    font-size: 4rem;
    margin: 1rem 0;
}

.slider {
    .carousel {
        width: 100%;
        margin: 0 10%;
    }

    &__thumbs {
        list-style: none;
        margin: 0;
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;

        li {
            cursor: pointer;
            margin: 0 .5rem;
            transition: ease-in-out .3s;

            &.active {
                transform: scale(1.2);
            }

            img {
                height: 80px;
            }
        }
    }
}

.slide {
    &__container {
        &--1 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 20px;
            grid-template-areas:
                "photo1 photo1 photo4 photo5 photo8 photo8"
                "photo1 photo1 photo4 photo6 photo8 photo8"
                "photo2 photo3 text photo7 photo8 photo8"
                "photo2 photo3 text photo7 photo8 photo8";
        }
    }

    &__textbox {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        text-transform: uppercase;
    }

    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @for $i from 1 through 8 {
            &--#{$i} {
                grid-area: photo#{$i};
            }
        }
    }
}

.commentModal {
    .has-error {
        .help-text {
            color: #dc3545 !important;
        }
    }

    &__loader {
        opacity: 0;
        transition: opacity ease-in-out .3s;
    }

    .voucher-body {
        display: none;
    }
}

.template {
    display: none;
}
